body {
  background-color: black;
  font-family: FritzQuad;
}

#contentContainer {
margin: auto;
display: inline;
}

h1 {
  font-size: 40px;
  margin-left: 420px;
  text-decoration: underline;
  display: inline;
  margin-top: 100px;
  color: yellow;
  }

.blurb {
  display: none;
  color: blue;
}

.lore {
  color: blue;
}



.something {
  color: white;
}

img {
  height: 175px;
  width: 175px;
  border: 0;
  padding: 0;
}

.vid {
  margin-left: 800px;
  position: absolute;
}

iframe {
  position: absolute;
}

.logo {
  width: 50px;
  height: 50px;
  border: 0px;
}

.HBS-container {
  background-color: white;
  color: white;
}

.type {
  color: cyan;
}
h3 {
  color: purple;
}

.something {
  color: purple;
}

p {
  color: red;
}

label {
  color: white;
}
